@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --btn_primary: #008D36;
  --btn_primary_hover: #007854;
  --text-color-one: #0061A6;
  --text-color-one-hover: #05497a;
  --btnfondo: #D5EBFF;
  --textlinear: linear-gradient(90deg, #006C00 0%, #6B66FF 100%);
  --textColor: #5D5D5D;
  --card: oklch(1 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--background);
  color: var(--foreground);
}


html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* Espaciado general de contenido */
.prose p {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.prose h1,
.prose h2,
.prose h3 {
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
}

.prose ul,
.prose ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-left: 1.5rem;
}

.prose li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.prose ul {
  list-style-type: disc !important;
}

.prose ol {
  list-style-type: decimal !important;
}

.prose li {
  margin-top: 0.5rem;
}

@keyframes bounceSlow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
}

.animate-bounce-slow {
  animation: bounceSlow 2s infinite;
}




