@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --btn_primary: #008D36;
  --btn_primary_hover: #007854;
  --text-color-one: #0061A6;
  --btnfondo: #D5EBFF;
  --textlinear: linear-gradient(90deg, #006C00 0%, #6B66FF 100%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
